doctype html

html
  head
    title Likalytics
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

  body
    div.container
      h1 THIS IS YOUR DATA
      a(href="/login") Connect with Facebook
